/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Anek Latin", sans-serif;
}

/* General */
body {
  background-color: #f7f8f9;
  color: #0f1419;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/* Bar */
.bar {
  height: 8px;
  background-color: #1da1f2;
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

/* Header */
header {
  padding: 32px 16px;
  text-align: center;
}
header h1 {
  font-size: 48px;
  font-weight: 500;
}
@media (max-width: 640px) {
  header h1 {
    font-size: 38px;
  }
}
@media (max-width: 520px) {
  header h1 {
    font-size: 32px;
  }
}

/* Container */
main {
  flex: 1;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 32px 16px;
  display: flex;
  align-items: flex-start;
}

/* Form */
main .form {
  border: 1px solid #dde7ef;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  flex: 1;
}
main .form h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 32px;
}
main .form .form-control {
  margin-bottom: 24px;
}
main .form .form-control:last-child {
  margin-bottom: 2px;
}
main .form .form-control label {
  display: block;
  font-weight: 500;
}
main .form .form-control input,
main .form .form-control textarea {
  display: block;
  font: inherit;
  width: 100%;
  padding: 10px 14px;
  margin: 4px 0;
  border: 1px #cbd5e1 solid;
  border-radius: 6px;
  outline: none;
  transition: border-color 200ms ease-in;
}
main .form .form-control input:focus,
main .form .form-control textarea:focus {
  border-color: #1da1f2;
}

main .form .form-control input::placeholder,
main .form .form-control textarea::placeholder {
  color: #9ca1a5;
}

main .form .form-control textarea {
  resize: vertical;
}
main .form .form-control small {
  font-size: 13px;
  color: #8c9094;
}

main .form .form-control .username-input {
  display: block;
  background-color: white;
  color: #8c9094;
  font: inherit;
  width: 100%;
  padding: 0 14px;
  margin: 4px 0;
  border: 1px #cbd5e1 solid;
  border-radius: 6px;
  outline: none;
  transition: border-color 200ms ease-in, color 200ms ease-in;
  display: flex;
  align-items: center;
}

main .form .form-control .username-input:focus-within {
  border-color: #1da1f2;
  color: #0f1419;
}

main .form .form-control .username-input::placeholder {
  color: #9ca1a5;
}
main .form .form-control .username-input input {
  display: inline;
  margin: 0 0 0 2px;
  padding: 10px 0;
  border: none;
}

main .form .form-control input[type="radio"] {
  display: inline;
  width: fit-content;
}
main .form .form-control input[type="radio"] + label {
  display: inline;
}
main .form .form-control p {
  font-weight: 500;
}
main .form .form-control .group {
  margin-top: 10px;
  display: flex;
}
main .form .form-control .group .radio-container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
main .form .form-control .group .radio-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
main .form .form-control .group .radio-mark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px #aab8c2 solid;
  border-radius: 50%;
  background-color: white;
}
main .form .form-control .group .radio-container input:focus ~ .radio-mark {
  box-shadow: 0 0 0 3px rgba(29, 161, 242, 0.4);
}
main .form .form-control .group .radio-container input:checked ~ .radio-mark {
  background-color: #1da1f2;
  border-color: #1da1f2;
}
main .form .form-control .group .radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}

main
  .form
  .form-control
  .group
  .radio-container
  .input:checked
  ~ .radio-mark:after {
  display: block;
}
main .form .form-control .group .radio-container .radio-mark:after {
  top: 3px;
  left: 3px;
  width: 3px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
main .form .form-control.upload {
  margin-bottom: 42px;
  display: flex;
  position: relative;
}
main .form .form-control.upload label {
  display: inline-block;
  position: relative;
  border-radius: 99px;
  background-color: #1da1f2;
  color: #fff;
  font-weight: 400;
  padding: 10px 30px;
  cursor: pointer;
}
@media (hover: hover) {
  main .form .form-control.upload label {
    transition: background 200ms ease-in;
  }
  main .form .form-control.upload label:hover {
    background-color: #1a90d9;
  }
}
@media (hover: none) {
  main .form .form-control.upload label:active {
    background-color: #1a90d9;
  }
}

main .form .form-control.upload .file {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: -10;
}
main .form .form-control.upload .file-name {
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  bottom: -29px;
  background-color: #eef3f7;
  color: #0f1419;
  border-radius: 99px;
  padding: 4px 16px;
  display: none;
}
main .form .form-control.upload .file-name.show {
  display: block;
}

/* Reset Button */
main .form .form-control.upload .reset {
  border: 1px #1da1f2 solid;
  border-radius: 99px;
  background-color: white;
  color: #1da1f2;
  font: inherit;
  cursor: pointer;
  padding: 10px 30px;
  margin-left: 12px;
}
@media (hover: hover) {
  main .form .form-control.upload .reset {
    transition: background 200ms ease-in;
  }
  main .form .form-control.upload .reset:hover {
    background-color: #e6e8eb;
  }
}
@media (hover: none) {
  main .form .form-control.upload .reset:active {
    background-color: #e6e8eb;
  }
}
@media (max-width: 890px) {
  main .form {
    width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  main .form {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  main .form {
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 520px) {
  main .form {
    background-color: #f7f8f9;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 24px 0;
  }
}

/* Tweet Desk */

/* Footer */
footer {
  padding: 32px 16px;
  font-size: 14px;
  font-weight: 400;
  color: #6e8698;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  border-bottom: 1px solid #6e8698;
  border-bottom-style: dotted;
}
@media (hover: hover) {
  footer a:hover {
    border-bottom-style: solid;
  }
}
@media (hover: none) {
  footer a:hover {
    border-bottom-style: solid;
  }
}
